@media (max-width: 768px) {
  /*GENERAL*/
  header {
    width: 0;
    display: block;
  }
  main {
    width: 100%;
  }
  .lists li {
    width: 98%;
  }
  /*-------*/
  .burger {
    display: inline-block;
  }
  .logo-nav {
    opacity: 0;
     width: 96%;
     height: 98%;
     transition: all 1s linear;
     background: rgba(0, 0, 0, 0.9);
     overflow: auto;
  }
  .hiden {
    z-index: -3;
    opacity: 0;
  }
  .visible {
    opacity: 1;
    z-index: 99;
  }
  .main-header {
    background-size: auto;
  }
  /*pages*/
  .masters-list li {
    height: 8em;
  }
}
