/*---PRICE---*/
.eyebrows::before {
  content: "Прайс";
  text-transform: uppercase;
  font-size: 10vw;
  font-weight: 500;
  color: rgba(190, 166, 124, 0.5);
  position: absolute;
  top: 0.3em;
  left: 25%;
  z-index: -1;
}
.eyebrows {
  text-align: center;
  padding: 15% 0 5rem 0;
  position: relative;
}
.eyebrows .main-logo-nav {
  margin-bottom: 3rem;
}
.table-wrapper {
  margin: 0 10%;
  margin-bottom: 5rem;
  border-bottom: 1px solid #edc65a;
}
table {
  color: #fff;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 6px;
  margin-bottom: 1em;
}
.table-title {
  font-size: 1.9em;
  text-transform: uppercase;
  font-weight: 500;
}
.table-title-little {
  font-size: 1.3em;
}
.table-left {
  text-align: left;
}
.table-item-title {
  font-weight: 500;
  font-size: 1.2em;
  color: #fff;
}
.table-item-subtitle {
  font-size: 0.8em;
  font-weight: 300;
  color: #fff;
}
.table-item-price {
  font-weight: 500;
  vertical-align: middle;
}
.stock {
  line-height: 2;
  margin-bottom: 3em;
}
.stock-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2em;
  color: #edc65a;
}
/*---PROFFESIONALS---*/
.masters::before {
  content: "Мастера";
  text-transform: uppercase;
  font-size: 10vw;
  font-weight: 500;
  color: rgba(190, 166, 124, 0.5);
  position: absolute;
  top: 0.3em;
  left: 20%;
  z-index: -1;
}
.masters {
  padding-top: 10rem;
  position: relative;
}
.masters-list {
  text-align: center;
}
.masters-list li{
  display: inline-block;
  min-width: 8em;
  width: 23%;
  height: 15em;
  margin: 0.5em;
  background: #bbb;
}
